.Rproj.user
.Rhistory
.RData
.Ruserdata
AF_Corr.csv
Ancient-Forest-Wetland-Hydrology.Rproj
water-level-plot.png
watertable.gif
Krige Plot.pptx
Hydro-Climate.png
Iso-Climate-Plot-Data.csv
Mega-Plotter
gw-waterlevel-dat.csv
hydroclimate.png
Plots
DomeGrid.png
gtable[arrange]
DomePrecip.png
DomePrecipTable.png
Rplot01.png
