.Rproj.user
.Rhistory
.RData
.Ruserdata
AF_Corr.csv
Ancient-Forest-Wetland-Hydrology.Rproj
water-level-plot.png
watertable.gif
Krige Plot.pptx
Hydro-Climate.png
Iso-Climate-Plot-Data.csv
Mega-Plotter
gw-waterlevel-dat.csv
hydroclimate.png
Plots
DomeGrid.png
gtable[arrange]
DomePrecip.png
DomePrecipTable.png
Rplot01.png
CrossTable.png
Crosscorr.png
Gradients.png
MonthlyWaterLevel.png
MonthlyWaterdiff.png
RawCrossCorr.png
Rplot.png
Rplot02.png
Simple Map Layout.qpt
krigegrid.png
wl-length.png
