AOI.gpkg
Daily_WL_gpkgs
Kriging-Watertable_files
kriged_tiffs
krige_plots
krige_sites
AF_DEM-lowres.tif
AF_DEM.tif
Kriging-Watertable.html
watertable.gif
QGIS_ViridisColourRamp.txt
QGIS_ViridisScale.clr
AOI2019.gpkg
